.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

th{
  border: cornsilk;
  color: #c6ac8f;
  background-color: #5e503f;
}

td{
  border: cornsilk;
  color: #c6ac8f;
  width: 10%;
}

tr{
  border: cornsilk;
  color:#22333b;
  background-color: gray;
}

/* Style taken from https://css-snippets.com/simple-horizontal-navigation/ */
nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
}

nav a:hover {
  background-color: #005f5f;
}

nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

nav li {
  width: 120px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  padding: 4px;
}

nav li {
  display: inline-block;
  margin-right: -4px;
}